<%= form_with(model: transport_type, local: true) do |form| %>
  <% if transport_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transport_type.errors.count, "error") %> prohibited this transport_type from being saved:</h2>

      <ul>
      <% transport_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :transport_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :transport_type_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :transport_type_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
