<p id="notice"><%= notice %></p>

<h1>Transport Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transport_types.each do |transport_type| %>
      <tr>
        <td><%= transport_type.name %></td>
        <td><%= transport_type.description %></td>
        <td><%= transport_type.status %></td>
        <td><%= link_to 'Show', transport_type %></td>
        <td><%= link_to 'Edit', edit_transport_type_path(transport_type) %></td>
        <td><%= link_to 'Destroy', transport_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport Type', new_transport_type_path %>
