<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transport_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transport_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transport_type.status %>
</p>

<%= link_to 'Edit', edit_transport_type_path(@transport_type) %> |
<%= link_to 'Back', transport_types_path %>
