
<div class="row">
  <div class="col-md-6">
    <div class="wrapper wrapper-content animated fadeInRight">
      
      <div class="ibox-content">
        <%= form_with(model: customer, local: true) do |form| %>
          <% if customer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

              <ul>
              <% customer.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, id: :customer_name , :class=>"form-control"%>
          </div>

          <div class="form-group">
            <%= form.label :lastname , "Last Name"%>
            <%= form.text_field :lastname, id: :customer_lastname , :class=>"form-control"%>
          </div>

          <div class="form-group">
            <%= form.label :email %>
            <%= form.text_field :email, id: :customer_email , :class=>"form-control"%>
          </div>

          <div class="form-group">
            <%= form.label :cell_phone %>
            <%= form.text_field :cell_phone, id: :customer_cell_phone , :class=>"form-control"%>
          </div>

          <div class="form-group">
            <%= form.label :phone %>
            <%= form.text_field :phone, id: :customer_phone , :class=>"form-control"%>
          </div>

          <div class="actions">
            <%= form.submit "Save", :class=>"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>