<div class="row">
  <div class="col-md-12 wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
      <%= form_for [@customer, @order] do |form| %>
        <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
            <% order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="ibox-title">
          <h2>Service Information</h2>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <%= form.label :driver_id %>
              <%= collection_select(:order, :driver_id, Driver.all, :id, :name, { :include_blank => true}, {:class=>"form-control"}) %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <%= form.label :service_type_id %>
              <%= collection_select( :order, :service_type_id, ServiceType.all, :id, :name, {:include_blank => true}, {:class=>"form-control"})%>
            </div>    
          </div>
          <div class="col-md-2">
              <div class="form-group">
                <%= form.label :transport_type_id %>
                <%= collection_select(:order, :transport_type_id, TransportType.all, :id, :name, {:include_blank => true} , {:class=>"form-control"}) %>
              </div>    
          </div>
      <!--    <div class="col-md-3">
            <div class="form-group">
              <%= form.label :reservation %>
              <%= form.text_field :reservation, id: :order_reservation, :class=>"form-control" %>
            </div>    
          </div>-->
          
        </div>
               
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-4"> 
                <div class="form-group">
                  <%= form.label :driver_pay %>
                  <%= form.text_field :driver_pay, id: :order_driver_pay , :class=>"form-control"%>
                </div>
              </div>
            <!-- <div class="col-md-2">
                <div class="form-group">
                  <%= form.label :balance_on_delivery %>
                  <%= form.text_field :balance_on_delivery, id: :order_balance_on_delivery , :class=>"form-control"%>
                </div>               
              </div>-->
              <div class="col-md-2">
                <div class="form-group">
                  <%= form.label :booking_deposit %>
                  <%= form.text_field :booking_deposit, id: :order_booking_deposit , :class=>"form-control"%>
                </div>        
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <%= form.label :tax %>
                  <%= form.text_field :tax, id: :order_tax , :class=>"form-control"%>
                </div>      
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <%= form.label :security_question %>
                  <%= form.text_field :security_question, id: :order_security_question , :class=>"form-control"%>
                </div>         
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <%= form.label :security_password %>
                  <%= form.text_field :security_password, id: :order_security_password , :class=>"form-control"%>
                </div>        
              </div>
            </div>
          </div>
          <div id="titulo" class="col-md-4">
            <h2>Grand Total</h2>
            <h1 id="total"></h1>
            <h4>Booking Deposit: <span id="booking"></span></h4>
            <h4>Balance paid on delv: <span id="on-delivery"></span> </h4>
          </div>
        </div>


        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="ibox-title">
              <h2>Pickup Info</h2>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :shipping_from_province %>
                  <%= form.text_field :shipping_from_province, id: :order_shipping_from_province , :class=>"form-control"%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :shipping_from_city %>
                  <%= form.text_field :shipping_from_city, id: :order_shipping_from_city , :class=>"form-control" %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :pickup_address %>
                  <%= form.text_field :pickup_address, id: :order_pickup_address , :class=>"form-control" %>
                </div>   
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :pickup_contact %>
                  <%= form.text_field :pickup_contact, id: :order_pickup_contact , :class=>"form-control" %>
                </div> 
              </div>       
            </div>
          </div>
          <div class="col-md-6">
            <div class="ibox-title">
              <h2>Delivery Info</h2>
            </div>
            <hr>
            <div class="row">  
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :shipping_to_province %>
                  <%= form.text_field :shipping_to_province, id: :order_shipping_to_province, :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :shipping_to_city %>
                  <%= form.text_field :shipping_to_city, id: :order_shipping_to_city , :class=>"form-control"%>
                </div>    
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">        
                <div class="form-group">
                  <%= form.label :delivery_address %>
                  <%= form.text_field :delivery_address, id: :order_delivery_address , :class=>"form-control" %>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <%= form.label :delivery_contact %>
                  <%= form.text_field :delivery_contact, id: :order_delivery_contact , :class=>"form-control"%>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :direction %>
              <%= form.text_field :direction, id: :order_direction , :class=>"form-control" %>
            </div>        
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :estimated_pickup_date %>
              <%= form.text_field :estimated_pickup_date, id: :order_estimated_pickup_date, :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <%= form.label :transit_time %>
              <%= form.text_field :transit_time, id: :order_transit_time , :class=>"form-control" %>
            </div>          
          </div>
        </div>

        <div class="ibox-title">
          <h2>Vehicle Information</h2>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= form.label :year_make_model %>
              <%= form.text_field :year_make_model, id: :order_year_make_model , :class=>"form-control"%>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= form.label :color %>
              <%= form.text_field :color, id: :order_color , :class=>"form-control"%>
            </div>    
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= form.label :vin %>
              <%= form.text_field :vin, id: :order_vin , :class=>"form-control" %>
            </div>    
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= form.label :plate %>
              <%= form.text_field :plate, id: :order_plate, :class=>"form-control" %>
            </div>    
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= form.label :condition %>
              <%= form.text_field :condition, id: :order_condition , :class=>"form-control" %>
            </div>
          </div>
          <div class="col-md-6">              
            <div class="form-group">
              <%= form.label :notes %>
              <%= form.text_area :notes, id: :order_notes , :class=>"form-control"%>
            </div>
          </div>
        </div>        
        <div class="form-group">
          <%= form.label :no_runner %>
          <%= form.check_box :no_runner, id: :order_no_runner, :class=>"form-control" %>
        </div>

        <div class="form-group">
          <%= form.submit "Create Contract" , :class=>"btn btn-primay" %>
        </div>
      <% end %>
  
    </div>
  </div>
</div>
  <script>
  $(document).ready(function(){
        $('#order_driver_pay').blur(function(){


          var driver_pay = parseInt($('#order_driver_pay').val()); 
          var booking_deposit = parseInt($('#order_booking_deposit').val());

          if ($('#order_booking_deposit').val() == '' && $('#order_tax').val() == '')
          {
            if (driver_pay == 0 ) {
              $('#order_driver_pay').val() = 0;

            }else {
              $('#total').text(driver_pay);    
            }
           
          }
          //$('#total').text(($('#order_driver_pay').val()*$('#order_tax').val()) + $('#order_booking_deposit').val() );
        });

        $('#order_booking_deposit').change(function(){

          var driver_pay = parseInt($('#order_driver_pay').val()); 
          var booking_deposit = parseInt($('#order_booking_deposit').val());
          if (booking_deposit >= 0 && booking_deposit != '') 
          {
            $('#total').text(driver_pay + booking_deposit);  
          }
          
        });
        

        $('#order_tax').change(function(){

          var driver_pay = parseInt($('#order_driver_pay').val()); 
          var booking_deposit = parseInt($('#order_booking_deposit').val());
          var tax = parseInt($('#order_tax').val());

          if (tax >= 0 &&  tax != '') 
          {
            var percentage = tax/100;
            $('#total').text(((driver_pay*percentage)+driver_pay) + booking_deposit);
            $('#on-delivery').text(driver_pay);
            $('#booking').text(booking_deposit);
          }
          
        });


    
    });
</script>
