<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-12 wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content">
        <div class="ibox-title">
          <h2>Order's Details</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
          <p>
            <strong>Customer:</strong>
            <%= @order.customer.name %> <%= @order.customer.lastname %> 
          </p>

          <p>
            <strong>Driver:</strong>
            <%= @order.driver.name %>
          </p>

          <p>
            <strong>Service type:</strong>
            <%= @order.service_type.name %>
          </p>

          <p>
            <strong>Transport type:</strong>
            <%= @order.transport_type.name %>
          </p>

          <p>
            <strong>Reservation:</strong>
            <%= @order.reservation %>
          </p>

          <p>
            <strong>Direction:</strong>
            <%= @order.direction %>
          </p>

          <p>
            <strong>Pickup address:</strong>
            <%= @order.pickup_address %>
          </p>

          <p>
            <strong>Pickup contact:</strong>
            <%= @order.pickup_contact %>
          </p>

          <p>
            <strong>Delivery address:</strong>
            <%= @order.delivery_address %>
          </p>

          <p>
            <strong>Delivery contact:</strong>
            <%= @order.delivery_contact %>
          </p>

          <p>
            <strong>Transit time:</strong>
            <%= @order.transit_time %>
          </p>

          <p>
            <strong>Booking deposit:</strong>
            <%= @order.booking_deposit %>
          </p>

          <p>
            <strong>Balance on delivery:</strong>
            <%= @order.balance_on_delivery %>
          </p>

          <p>
            <strong>Grand total:</strong>
            <%= @order.grand_total %>
          </p>

          <p>
            <strong>Tax:</strong>
            <%= @order.tax %>
          </p>


        </div>
        <div class="col-md-6">
                    <p>
            <strong>Year make model:</strong>
            <%= @order.year_make_model %>
          </p>

          <p>
            <strong>Color:</strong>
            <%= @order.color %>
          </p>

          <p>
            <strong>Vin:</strong>
            <%= @order.vin %>
          </p>

          <p>
            <strong>Plate:</strong>
            <%= @order.plate %>
          </p>

          <p>
            <strong>Condition:</strong>
            <%= @order.condition %>
          </p>

          <p>
            <strong>Estimated pickup date:</strong>
            <%= @order.estimated_pickup_date %>
          </p>

          <p>
            <strong>Driver pay:</strong>
            <%= @order.driver_pay %>
          </p>

          <p>
            <strong>Security question:</strong>
            <%= @order.security_question %>
          </p>

          <p>
            <strong>Security password:</strong>
            <%= @order.security_password %>
          </p>

          <p>
            <strong>Shipping from province:</strong>
            <%= @order.shipping_from_province %>
          </p>

          <p>
            <strong>Shipping from city:</strong>
            <%= @order.shipping_from_city %>
          </p>

          <p>
            <strong>Shipping to province:</strong>
            <%= @order.shipping_to_province %>
          </p>

          <p>
            <strong>Shipping to city:</strong>
            <%= @order.shipping_to_city %>
          </p>

          <p>
            <strong>Notes:</strong>
            <%= @order.notes %>
          </p>

          <p>
            <strong>No runner:</strong>
            <%= @order.no_runner %>
          </p>


        </div>
          
  
        </div>        
        
    </div>
  </div>
</div>

