<%= form_for [@driver, @route] do |form| %>
  <% if route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :province_from %>
    <%= form.text_field :province_from, id: :route_province_from %>
  </div>

  <div class="field">
    <%= form.label :city_from %>
    <%= form.text_field :city_from, id: :route_city_from %>
  </div>

  <div class="field">
    <%= form.label :province_to %>
    <%= form.text_field :province_to, id: :route_province_to %>
  </div>

  <div class="field">
    <%= form.label :city_to %>
    <%= form.text_field :city_to, id: :route_city_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
