
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <div class="widget lazur-bg ">
      <h2  class="font-bold no-margins">Driver: <%= @driver.name %></h2>
      <ul class="list-unstyled m-t-md">
        <li><strong>Company Name: </strong><%= @driver.company_name %></li>
        <li><span class="fa fa-mobile">  CellPhone: <%= @driver.cell_phone %></span></li>
        <li><span class="fa fa-phone m-r-xs">  Phone: <%= @driver.phone %></span></li>
        <li><span class="fa fa-envelop m-r-xs">  Website:<%= @driver.email %></span></li>
        <li><span class="fa fa-map-marker m-r-xs">  Address: <%= @driver.address %></span></li>
        <li><span class="fa fa-truck m-r-xs">  Trcks: <%= @driver.number_of_trucks %></span></li>
        <li><span class="fa fa-medkit m-r-xs">  Non-Runners:  <%= @driver.non_runners %></span></li>

      </ul>
    </div> 
  </div>

        <div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span><%= link_to 'New', new_driver_route_path(@driver.id), :class => "label label-primary pull-right"%></span>
                        <h5> Routes covered by <%= @driver.name %> </h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                              <% @routes.each do |route| %>
                              <tr>
                                <td></td>
                                <td><%= route.city_from %>,<%= route.province_from %></td>
                                <td><%= route.city_to %>,<%= route.province_to %></td>
                                <td><%= link_to 'Edit', edit_driver_route_path(@driver.id, route.id)  %></td>
                                <td><%= link_to 'Destroy', driver_route_path(@driver.id, route.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>    
                              <% end %> 
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
        </div>
  </div>

<hr>
 <h2> <%= @driver.name %>'s Current Orders </h2>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ordersModal">
        Request update on all orders
  </button>
<hr>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>Reservation # - <%= link_to order.reservation, order %></h5>
                </div>
                <div class="ibox-content">
                    <h4>Order's Info</h4>
                     <ul class="list-unstyled m-t-md">
                      <li><strong> Customer Name: </strong><%= Customer.find(order.customer_id).name%></li>
                      <li><span class="fa fa-mobile"> PHONE: <%= Customer.find(order.customer_id).cell_phone %></span></li>
                      <li><span class="fa fa-map-marker m-r-xs"> PROM : <%= order.shipping_from_city %>,<%= order.shipping_from_province %></span></li>
                      <li><span class="fa fa-map-marker m-r-xs"> TO : <%= order.shipping_to_city %>,<%= order.shipping_to_province %> </span></li>
                    </ul>
                    <div>
                        <span>Status of current Order:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PICK UP</div>
                            12
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">IN TRANSIT</div>
                            <%= order.transit_time %>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">DELIVERED</div>
                            $<%= order.balance_on_delivery %><i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <% end %>    
    </div>
</div>  

                  
        <div class="modal inmodal" id="ordersModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <i class="fa fa-laptop modal-icon"></i>
                        <h4 class="modal-title">Orders Update</h4>
                        <small class="font-bold">You are about to ask for an update for the following orders .</small>
                    </div>
                    <div class="modal-body">
                        
                <div class="mail">
                    <h5>Hello <%= @driver.name %> </h5>
                    <p>Could you please give us an update on the following orders?. Please, let me know if you have picked up or delivered them already </p>
                </div>

            <% @orders.each_with_index do |order, index| %>
                <div class="order-info">
                    <h4> Work Order # <%= index +1 %> : </h4>
                    <p>  ===============</p>
                        <span class="dark"> Reservation Number: </span> <%= order.reservation %> <br>
                        <span class="dark">Customer Name: </span> <%= order.customer.name %> <%= order.customer.lastname %><br>
                        <span class="dark">Customer's Phone Number:</span><%= order.customer.cell_phone %> <br>
                        <span class="dark">Vehicle: </span><%= order.year_make_model %> <br>
                        <span class="dark">Color: </span><%= order.color %> <br>
                        <span class="dark">Vin: </span><%= order.vin %> <br>
                        <span class="dark">Service Type:</span> <%= order.service_type.name %> <br>
                        <span class="dark">Shipping from: </span><%= order.pickup_address %> <br>
                        <span class="dark">Pick up Contact: </span><%= order.pickup_contact %> <br>
                        <span class="dark">Shipping To: </span><%= order.delivery_address%> <br>
                        <span class="dark">Delivery Contact: </span><%= order.delivery_contact %> <br>
                        <br><br>
                </div>
                
            <% end %>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <%= link_to 'Send', update_orders_path %>
                    </div>
                </div>
            </div>
        </div>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
