
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-4">
    <div class="widget lazur-bg ">
      <h2  class="font-bold no-margins">Driver: <%= @driver.name %></h2>
      <ul class="list-unstyled m-t-md">
        <li><strong>Company Name: </strong><%= @driver.company_name %></li>
        <li><span class="fa fa-mobile">  CellPhone: <%= @driver.cell_phone %></span></li>
        <li><span class="fa fa-phone m-r-xs">  Phone: <%= @driver.phone %></span></li>
        <li><span class="fa fa-globe m-r-xs">  Website:<%= @driver.website %></span></li>
        <li><span class="fa fa-map-marker m-r-xs">  Address: <%= @driver.address %></span></li>
        <li><span class="fa fa-truck m-r-xs">  Trcks: <%= @driver.number_of_trucks %></span></li>
        <li><span class="fa fa-medkit m-r-xs">  Non-Runners:  <%= @driver.non_runners %></span></li>

      </ul>
    </div> 
  </div>

        <div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-lg-8">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span><%= link_to 'New', new_driver_route_path(@driver.id), :class => "label label-primary pull-right"%></span>
                        <h5> Routes covered by <%= @driver.name %> </h5>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                              <% @routes.each do |route| %>
                              <tr>
                                <td></td>
                                <td><%= route.city_from %>,<%= route.province_from %></td>
                                <td><%= route.city_to %>,<%= route.province_to %></td>
                                <td><%= link_to 'Edit', edit_driver_route_path(@driver.id, route.id)  %></td>
                                <td><%= link_to 'Destroy', driver_route_path(@driver.id, route.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                              </tr>    
                              <% end %> 
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
        </div>
  </div>

<hr>
 <h2> <%= @driver.name %>'s Current Orders </h2>
<hr>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <% @orders.each do |order| %>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">NEW</span>
                    <h5>Reservation # - <%= link_to order.reservation, order %></h5>
                </div>
                <div class="ibox-content">
                    <h4>Order's Info</h4>
                     <ul class="list-unstyled m-t-md">
                      <li><strong> Customer Name: </strong><%= Customer.find(order.customer_id).name%></li>
                      <li><span class="fa fa-mobile"> PHONE: <%= Customer.find(order.customer_id).cell_phone %></span></li>
                      <li><span class="fa fa-map-marker m-r-xs"> PROM : <%= order.shipping_from_city %>,<%= order.shipping_from_province %></span></li>
                      <li><span class="fa fa-map-marker m-r-xs"> TO : <%= order.shipping_to_city %>,<%= order.shipping_to_province %> </span></li>
                    </ul>
                    <div>
                        <span>Status of current Order:</span>
                        <div class="stat-percent">48%</div>
                        <div class="progress progress-mini">
                            <div style="width: 48%;" class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="row  m-t-sm">
                        <div class="col-sm-4">
                            <div class="font-bold">PICK UP</div>
                            12
                        </div>
                        <div class="col-sm-4">
                            <div class="font-bold">IN TRANSIT</div>
                            <%= order.transit_time %>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="font-bold">DELIVERED</div>
                            $<%= order.balance_on_delivery %><i class="fa fa-level-up text-navy"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <% end %>    
    </div>
</div>  

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
