
<style>
	.dark{
		font-weight: 700;
	}
	.order-info{
		font-size: 1.2em;
		margin-bottom: 20PX;
	}
	a{
		color: fff;
	}
	.mail > p {
		margin: 20px 0;

	}
</style>

<div class="container">
		<div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-md-8">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>ORDERS UPDATE REQUEST</h5>
                        </div>

                        <div class="ibox-content">

                        	<div class="mail">
                        		<h5>Hello <%= @driver.name %> </h5>
                        		<p>Could you please give us an update on the following orders?. Please, let me know if you have picked up or delivered them already </p>
                        	</div>

						<% @orders.each_with_index do |order, index| %>
							<div class="order-info">
								<h4> Work Order # <%= index +1 %> : </h4>
								<p>  ===============</p>
									<span class="dark"> Reservation Number: </span> <%= order.reservation %> <br>
									<span class="dark">Customer Name: </span> <%= order.customer.name %> <%= order.customer.lastname %><br>
									<span class="dark">Customer's Phone Number:</span><%= order.customer.cell_phone %> <br>
									<span class="dark">Vehicle: </span><%= order.year_make_model %> <br>
									<span class="dark">Color: </span><%= order.color %> <br>
									<span class="dark">Vin: </span><%= order.vin %> <br>
									<span class="dark">Service Type:</span> <%= order.service_type.name %> <br>
									<span class="dark">Shipping from: </span><%= order.pickup_address %> <br>
									<span class="dark">Pick up Contact: </span><%= order.pickup_contact %> <br>
									<span class="dark">Shipping To: </span><%= order.delivery_address%> <br>
									<span class="dark">Delivery Contact: </span><%= order.delivery_contact %> <br>

							</div>
							
						<% end %>

						<%= link_to 'Ask for update' , @orders_path, :class =>"btn btn-primary"%>
                       </div> 	
					</div>
				</div>
			</div>
		</div>

</div>
  	 