<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'a1.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Peter Jhonson</strong>
                            </span> <span class="text-muted text-xs block">CEO<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li><a href="">Contacts</a>
                        </li>
                        <li><a href="">Mailbox</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Profile</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><%= link_to "Orders" %></li>
                    <li ><%= link_to "Recent Orders" %></li>
                    <li class=""><%= link_to "New Order(Contract)" %></li>
                    <li class=""><%= link_to "Dispatch"%></li>
                </ul>
            </li>
            <li class="">
      
            </li>
            <li class="">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Drivers</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><%= link_to "New Driver" %></li>
                    <li ><%= link_to "Drivers List" %></li>
                    <li class=""><%= link_to "Drivers' Orders" %></li>
                </ul>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label" data-i18n="nav.mailbox">Customer </span><span class="label label-warning pull-right">16/24</span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class=""><%= link_to "Registration" %></li>
                    <li ><%= link_to "Recently Added" %></li>
                    <li class=""><%= link_to "New Quote" %></li>
                </ul>
            </li>
         
                    
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label" data-i18n="nav.menulevels">Configuration </span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                    <li>
                        <a href="#">Second Level Item</a></li>
                </ul>
            </li>
            <li class="">
             
            </li>
            <li class="landing_link">
              
            </li>
        </ul>

    </div>
</nav>