<!DOCTYPE html>
<html>
  <head>
    <title>RFH</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body class="gray-bg">
<!-- Skin configuration box -->
    

<!-- Skin configuration box -->
<!-- <%= render 'layouts/skinconfig' %> -->
    <div  >
     
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

            <!-- Main view  -->
            <%= yield %>
    </div>
    
  </body>
</html>
